.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3110px;
}

.u-section-1 .u-image-1 {
  width: 42px;
  height: 42px;
  animation-duration: 1000ms;
  margin: 11px -69px 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 307px;
  animation-duration: 1000ms;
  margin: 72px auto 0;
}

.u-section-1 .u-image-2 {
  width: 31px;
  height: 31px;
  animation-duration: 2000ms;
  margin: -31px 401px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1466px;
  min-height: 117px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 67px auto 0 -127px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px 778px 0 542px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 90px;
  margin: -28px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: -26px 552px 0 776px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: 248px auto 0 38px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-3 {
  width: 162px;
  height: 162px;
  margin: -24px auto 0;
}

.u-section-1 .u-group-3 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 43px;
  animation-duration: 1250ms;
  margin: -286px -42px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px auto 0 415px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-5 {
  width: 162px;
  height: 162px;
  margin: -24px auto 0;
}

.u-section-1 .u-group-5 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-image-6 {
  width: 42px;
  height: 43px;
  animation-duration: 1250ms;
  margin: -286px -42px 0 auto;
}

.u-section-1 .u-group-6 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px auto 0 792px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-7 {
  width: 162px;
  height: 162px;
  margin: -24px auto 0;
}

.u-section-1 .u-group-7 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 13px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-image-8 {
  width: 42px;
  height: 43px;
  animation-duration: 1250ms;
  margin: -286px -42px 0 auto;
}

.u-section-1 .u-group-8 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: 30px auto 0 38px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-9 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-9 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 19px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-10 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-10 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-11 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 0 0 19px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-12 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px 38px 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-11 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-13 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-13 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 19px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-14 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: 30px auto 0 38px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-12 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-15 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-15 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 134px;
  margin: 0 auto;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-16 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-13 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-17 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-17 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 134px;
  margin: 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-18 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px 38px 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-14 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-19 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-19 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 14px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-20 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: 30px auto 0 38px;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-15 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-21 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-21 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 -9px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-22 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-16 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-23 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-23 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 10px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-24 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  margin: -321px 38px 0 auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-17 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-25 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-25 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 10px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-26 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  height: auto;
  margin: 30px auto 0 38px;
}

.u-section-1 .u-container-layout-26 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-18 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-27 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-27 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 11px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-28 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  height: auto;
  margin: -321px auto 0;
}

.u-section-1 .u-container-layout-28 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-19 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-29 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-29 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 11px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

.u-section-1 .u-group-30 {
  width: 310px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 321px;
  animation-duration: 1000ms;
  height: auto;
  margin: -321px 38px 60px auto;
}

.u-section-1 .u-container-layout-30 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-image-20 {
  width: 162px;
  height: 162px;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -24px auto 0;
}

.u-section-1 .u-group-31 {
  margin-top: -4px;
  margin-bottom: 0;
  min-height: 81px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-31 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 132px;
  margin: 0 auto;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: -8px auto 0;
  padding: 8px 51px 9px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7030px;
    margin-right: auto;
    margin-left: 628px;
  }

  .u-section-1 .u-group-1 {
    width: 250px;
    margin-top: -2125px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 515px;
    margin-left: 362px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 289px;
    margin-left: 513px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -4566px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-4 {
    width: 180px;
    margin-top: -246px;
    margin-right: -78px;
    margin-left: 369px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-6 {
    width: 180px;
    margin-top: -246px;
    margin-right: -78px;
    margin-left: 369px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 20px;
    margin-left: 415px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -7px;
  }

  .u-section-1 .u-image-8 {
    width: 180px;
    margin-top: -246px;
    margin-right: -78px;
    margin-left: 369px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-14 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-16 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-18 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-13 {
    width: 134px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-20 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-14 {
    width: 134px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-22 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-15 {
    width: 134px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-24 {
    margin-top: 167px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-16 {
    width: 134px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-26 {
    margin-top: 167px;
    height: auto;
  }

  .u-section-1 .u-container-layout-27 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-17 {
    width: 134px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-28 {
    margin-top: 167px;
    height: auto;
  }

  .u-section-1 .u-container-layout-29 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-18 {
    width: 134px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-30 {
    margin-top: 167px;
    height: auto;
  }

  .u-section-1 .u-container-layout-31 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-19 {
    width: 134px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 618px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 405px;
    margin-left: 272px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 179px;
    margin-left: 403px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 32px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 410px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 32px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 410px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 201px;
    margin-right: 201px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 7371px;
    margin-left: 478px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 335px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 109px;
    margin-left: 333px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -4907px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 122px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    margin-left: 38px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 122px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 38px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 122px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-left: 127px;
    margin-right: 127px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 9px;
    margin-left: 233px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 222px;
    margin-left: 245px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 30px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 222px;
    margin-left: 245px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 30px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 222px;
    margin-left: 245px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 30px;
  }

  .u-section-1 .u-group-12 {
    margin-right: 30px;
  }

  .u-section-1 .u-group-14 {
    margin-left: 30px;
  }

  .u-section-1 .u-group-18 {
    margin-right: 30px;
  }

  .u-section-1 .u-group-20 {
    margin-left: 30px;
  }

  .u-section-1 .u-group-24 {
    margin-right: 30px;
  }

  .u-section-1 .u-group-26 {
    margin-left: 30px;
  }

  .u-section-1 .u-group-30 {
    margin-right: 30px;
  }
} Search 